@charset "UTF-8";
html,
body {
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體", "新細明體", "標楷體";
    height: 100%;
}

.allWrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.head,
.copyArea {
    margin: 0 auto;
    width: 100%;
}

.titleWrap {
    position: relative;
    margin: 0 auto;
    /*width: 1000px;*/
    max-width: 1280px;
    min-width: 1200px;
    height: 91px;
    background: #e9e4e4;
}
.logo{
    display: inline-block;
    position: absolute;
    top: 20px;
    margin-left: 16px;
}
.menu {
    position: absolute;
    top: 45px;
    right: 0;
    width: 390px;
    height: 29px;
    /*cursor: pointer;*/
}
.menu input{
    margin-right:-4px;
}
.container {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 146px;
}
.page{
    margin: 20px 0 30px;
}

.page table{
    margin: 0 auto;
}

.copyArea {
    /*position: absolute;
    bottom: 0;*/
    margin: 0 auto;
    padding-top: 15px;
    /*height: 146px;*/
    letter-spacing: 1px;
    background: #242323;
    color: #bfc0c0;
    /*min-width: 1000px;*/
    width: 100%;
    min-width: 1200px;
}

p {
    clear: both;
}

.copyWrap div {
    float: left;
}

.copyWrap {
    margin: 0 auto;
    /*max-width: 955px;*/
    /*max-width: 950px; */
    width: 100%;
    max-width: 1280px;
    min-width: 1200px;
}

.copyWrap div {
    /*margin-left: 5px;*/
    margin-left: 50px;
}

.fL {
    width: 2px;
    height: 100px;
    margin: 10px 0 0 -7px;
}

.content-s {
    margin: 70px auto 60px;
    width: 1200px;
    flex-grow: 4;
}

.form {
    margin: 20px auto 80px;
}