@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-y: auto;
	background-size: cover;
}
img
{
height: auto;
max-width: 100%;
}

.center{
	max-width:1980px;
	width:100%;
	margin:0 auto;
	text-align:center;
}