<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!-- 正式 -->
    <add name="SWCConnStr" connectionString="Data Source=XXX.XXX.XXX.XXX;Initial Catalog=XXX;Persist Security Info=True;User ID=XXX;Password=XXX" providerName="System.Data.SqlClient" />
    <add name="GEOINFOCONN" connectionString="Data Source=XXX.XXX.XXX.XXX;Initial Catalog=XXX;Persist Security Info=True;User ID=XXX;Password=XXX" providerName="System.Data.SqlClient" />
    <add name="TSLMSWCCONN" connectionString="Data Source=XXX.XXX.XXX.XXX;Initial Catalog=XXX;Persist Security Info=True;User ID=XXX;Password=XXX" providerName="System.Data.SqlClient" />
    <add name="swcconnstring" connectionString="Data Source=XXX.XXX.XXX.XXX;Initial Catalog=XXX;Persist Security Info=True;User ID=XXX;Password=XXX" providerName="System.Data.SqlClient" />    
	<add name="elandservicelogconnstring" connectionString="Data Source=XXX.XXX.XXX.XXX;Initial Catalog=XXX;Persist Security Info=True;User ID=XXX;Password=XXX" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <!--因應降成TLS1.0<compilation debug="true" targetFramework="4.5.2" />-->
      <compilation debug="true" targetFramework="4.6.1" />
	  <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="30" />
	  	  
	  <!-- DEGO
	  
	  <validation validateIntegratedModeConfiguration="false" />
	  -->
		<!--因應降成TLS1.0<httpRuntime maxRequestLength="524288000" executionTimeout="600" />-->		
		<httpRuntime targetFramework="4.6.1" maxRequestLength="524288000" executionTimeout="600" />		
		<httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
        <!--customErrors mode="Off"-->
        <customErrors defaultRedirect="https://swc.taipei/error.html" mode="On">
        </customErrors>
	</system.web>
    
  <system.webServer>
  
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
	
	
	<rewrite>
    <rules>
      <rule name="HTTP to HTTPS redirect" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
          <add input="{HTTPS}" pattern="off" ignoreCase="true" />
        </conditions>
        <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
      </rule>
    </rules>
  </rewrite>
        <staticContent>
            <mimeMap fileExtension=".7z" mimeType="application/octet-stream" />
        </staticContent>
	
	<!--
	<defaultDocument>
      <files>
        <clear />
		<add value="SWCDOC/SWC000.aspx" />
	  </files>
    </defaultDocument>-->
	
	<!-- iis 7.5 -->
	<!--<httpProtocol>
    <customHeaders>
      <add name="Content-Security-Policy" value="default-src: https:; frame-ancestors 'self' X-Frame-Options: SAMEORIGIN" />
    </customHeaders>
  </httpProtocol>-->
  
	<!-- iis 8.5
	<httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
	
	<httpprotocol>
  <customheaders>
     <add name="X-Frame-Options" value="DENY">
   </add></customheaders>
</httpprotocol>

	-->
  </system.webServer>
  
  <appSettings>
    <add key="SwcFilePath20" value="" />
    <add key="SwcFileTemp20" value="" />
    <add key="UserFilePath20" value="" />
    <add key="SwcServicePath" value="" />
	<add key="SwcServiceUrl" value="" />
	
    <add key="SwcFileUrl20" value="" />
    <add key="SwcFileUrl" value="" />
	
    <add key="thisip" value="" />
    <add key="thisDM" value="" />
    <add key="Swcip" value="" />
	
    <add key="SwcFileTemp" value="" />
    <add key="SwcFilePath" value="" />
    <add key="UserFilePath" value="" />
    <add key="SwcSysFilePath" value="" />
    <add key="BarCodeFont" value="" />

      <!--寄信人Email-->
      <add key="sendMail" value="" />
      <!--寄信smtp server-->
      <add key="smtpServer" value="" />
      <!--寄信smtp server的Port，預設25-->
      <add key="smtpPort" value="" />
      <!--寄信帳密-->
      <add key="mailAccount" value="" />
      <add key="mailPwd" value="" />

      <!--55 檔案用-->
      <add key="swcpspath" value="" />
    
    
  </appSettings>
  
  
</configuration>
