<!--
    Soil and Water Conservation Platform Project is a web applicant tracking system which allows citizen can search, view and manage their SWC applicant case.
    Copyright (C) <2020>  <Geotechnical Engineering Office, Public Works Department, Taipei City Government>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>

    <!-- 內部 -->
    <add name="SWCConnStr" connectionString="Data Source=211.22.61.184;Initial Catalog=TCGESWC;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />
    <add name="GEOINFOCONN" connectionString="Data Source=211.22.61.184;Initial Catalog=GEOINFO;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />
    <add name="TSLMSWCCONN" connectionString="Data Source=211.22.61.184;Initial Catalog=tslm;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />
    <add name="elandservicelogconnstring" connectionString="Data Source=211.22.61.183;Initial Catalog=elandservice;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />

    <!-- 正式 -->
    <add name="SWCConnStrx" connectionString="Data Source=211.22.61.184;Initial Catalog=TCGESWC;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />
    <add name="GEOINFOCONNx" connectionString="Data Source=163.29.157.137;Initial Catalog=GEOINFO;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />
    <add name="TSLMSWCCONNx" connectionString="Data Source=172.28.100.55;Initial Catalog=tslm2;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />
    <add name="elandservicelogconnstringx" connectionString="Data Source=172.28.100.55;Initial Catalog=elandservice;Persist Security Info=True;User ID=geovector;Password=geovector" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="153600" executionTimeout="3000" relaxedUrlToFileSystemMapping="true"/>
      <sessionState timeout="66" />
	  <customErrors mode="Off"></customErrors>
    </system.web>
  
  <system.webServer>
<!--<rewrite>
    <rules>
      <rule name="HTTP to HTTPS redirect" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
          <add input="{HTTPS}" pattern="off" ignoreCase="true" />
        </conditions>
        <action type="Redirect" redirectType="Found"
                url="https://{HTTP_HOST}/tweb/{R:1}" />
      </rule>
    </rules>
  </rewrite>-->
   <httpProtocol>
        <customHeaders>
            <add name="X-Frame-Options" value="SAMEORIGIN" />
        </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
	<staticContent>
		<remove fileExtension=".dwg" />
     </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="SWCDOC/SWC000.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <appSettings>
    <add key="thisip" value="http://211.22.61.186/tweb/" />
    <add key="Swcip" value="http://211.22.61.183/ILGFILE/" />
    
    <add key="SwcFileTemp" value="D:\Web\SWCWeb\UpLoadFiles\temp\" />
    <add key="SwcFilePath" value="D:\Web\SWCWeb\UpLoadFiles\SwcCaseFile\" />
    <add key="UserFilePath" value="D:\Web\SWCWeb\UpLoadFiles\SwcUser\" />
    <add key="SwcSysFilePath" value="D:\Web\SWCWeb\sysFile\" />
    <add key="SwcSysReport" value="D:\Web\SWCWeb\OutputFile\" />

      <!--寄信人Email-->
      <add key="sendMail" value="ge-tslm@mail.taipei.gov.tw" />
      <!--寄信smtp server-->
      <add key="smtpServer" value="mail.taipei.gov.tw" />
      <!--寄信smtp server的Port，預設25-->
      <add key="smtpPort" value="25" />
      <!--寄信帳密-->
      <add key="mailAccount" value="ge-tslm" />
      <add key="mailPwd" value="27593001_tslm_00" />

      <!--55 檔案用-->
      <add key="swcpspath" value="D:\公用區\唯讀區\" />
    
    
  </appSettings>
  
  
</configuration>
