@charset "utf-8";
/* CSS Document */



 
.menu {
  margin: 0 auto; 
  display: block;
  margin-top: 33px;
  margin-left:26%
}
.menu a {
  float: left;
  margin-right: 6.66666px;
   background-repeat:no-repeat;
}
.menu a:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1270px) {
  .menu {
    display: none;
  }
}

.menubar-js {
  width: 37px;
  position: absolute;
  right: 20px;
  top: 55px;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1270px) {
  .menubar-js {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .menubar-js {
    right: 10px;
    top: 30px;
  }
}

.leftmenu {
  background: #c1e4e9;
  height: 100%;
  position: fixed;
  top: 0;
  left: -350px;
  transition: left 0.4s;
  z-index: 100;
  box-shadow: 0 0 30px 0 black;
}
.leftmenu a {
  font-size: 19px;
  text-decoration: none;
  display: block;
  color: #000;
  letter-spacing: 4px;
  font-weight: 700;
  text-align: left;
  padding: 15px;
  border-bottom: 1px dashed #fff;
}
.leftmenu a:first-child {
  padding: 7px;
  background: #a0d8ef;
}
.leftmenu .menubar-close {
  margin: 10px 10px 5px 200px;
  cursor: pointer;
}
.leftmenu .leftmenu-child {
  padding: 15px 0 15px 43px;
}
.leftmenu .leftmenu-child a {
  padding: 0;
  border: none;
  color: #3e3a39;
}
.leftmenu .leftmenu-child a:first-child {
  background: #c3a392;
}

.leftmenu-move {
  left: 0;
  
}

.menu_conservation, .menu_violation, .menu_report, .menu_map{
  background-repeat: no-repeat;
  display: block;
  width: 220px;
  height: 70px;
}

.menu_conservation {
  background: url(../img/btn-1-01.png);
}

.menu_violation {
  background: url(../img/btn-1-02.png);
}

.menu_report {
  background: url(../img/btn-1-03.png);
}

.menu_map {
  background: url(../img/btn-1-04.png);
}



/*menu-s*/
.menu-s {
  margin: 0 auto; 
  display: block;
  margin-top: 33px;
  margin-left:35%;
}
.menu-s a {
  float: left;
  margin-right: 6.66666px;
   background-repeat:no-repeat;
}
.menu-s a:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1270px) {
  .menu-s {
    display: none;
  }
}

.menu_message, .menu_propaganda, .menu_link, .menu_account, .menu_based {
  background-repeat: no-repeat;
  display: block;
  width: 180px;
  height:60px;
}

/*.menu_message  {
  background: url(../img/btn-1-05.png)
}
*/
/*.menu_propaganda {
  background: url(../img/btn-1-06.png)
}*/

.menu_link {
  background:  url(../img/btn-1-07.png)
}

.menu_account {
  background:  url(../img/btn-1-08.png)
}
.menu_based {
  background:url(../img/btn-86.png);
}


